
{{!-- Title with hyperlink, still needs to be written --}}

<div class="container">
    <div class="row">
        <div class="col">
        </div>

        <div class="col">
        </div>

        <div class="col">
        </div>

            <div class="col-6">

                <img src="" alt="Save Recipes">

            </div>

        <div class="col">
        </div>

        <div class="col">
        </div>

        <div class="col">
        </div>
    
  </div>
</div>


<div class="container">
    <div class="row">

        <div class="col">col</div>
        <div class="col">col</div>
        <div class="col">col</div>
        <div class="col">col</div>

    </div>
</div>


{{!-- leftside --}}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">


        </div>

    </div>

{{!-- Middle content --}}

    <div class="col-md-auto">
            <div class="container">
                <div class="row">
                        <div class="col">

                            <img src="" alt="Save Recipes">

                        </div>

                        <div class="col">

                            <img src="" alt="What's in my Fridge?">

                        </div>

                        <div class="col">

                            <img src="" alt="Nutrition Facts">

                        </div>
                        
                        <div class="col">

                            <img src="" alt="Visualization">

                        </div>
                </div>
            </div>
    </div>





{{!-- rightside --}}

        <div class="col col-lg-2">



    
        </div>







  {{#each animals}}
    <li>
      <p>Type: {{animalType}}</p>
      <p>Pet: {{pet}}</p>
      <p>Fierceness: {{fierceness}}</p>
    </li>
  {{/each}}


  {{!-- just a note      {{!-- app.use(express.static('views/images'));  --}}     --}}